@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
body {
  font-family: "Inria Sans", sans-serif;
}
/* @use "three-dots"; */
@import "three-dots/dist/three-dots.css";
.dot-windmill {
  width: 18px !important;
  height: 18px !important;
  background-color: #ec5a72 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
