@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@300;400;700&display=swap");
body {
  font-family: "Inria Sans", sans-serif;
}
/* @use "three-dots"; */
@import "three-dots/dist/three-dots.css";
.dot-windmill {
  width: 18px !important;
  height: 18px !important;
  background-color: #ec5a72 !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'inria';
  src: url('fonts/InriaSans-Regular.ttf') format('woff2');
  font-weight: 400;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #191113;
    --background: #191113;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: inria, Helvetica, sans-serif;
}
